#top {  
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(to right, rgb(34, 129, 238) , rgb(139, 255, 7));
    word-spacing: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}

#downloads {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    text-align: center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;


}
