body {
    background-image: url(assets/images/background.png);
}

.title {
    font-family: zekton;
    src: url(http://www.dafont.com/zekton.font);
    position: absolute;
    font-size: 30px;
    left: 30px;
    top: -20px;
}

.links {
    font-family: zekton;
    src: url(http://www.dafont.com/zekton.font);
    position: absolute;
    right: 45px;
    top: 40px;
    word-spacing: 70px;
}

.details {
    font-family: zekton;
    src: url(http://www.dafont.com/zekton.font);
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: white;
}


